body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(216, 255, 212);
}

.navbar {
    position: relative;
    margin-left: 300px;
    width: 600px;
    height: 60px;
    background: rgb(216, 255, 212);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

/* Individual Navigation Items */
.nav-item {
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
}
/* Icons */
.nav-item i {
    font-size: 24px;
    display: block;
    margin-bottom:5px;
    color: #000000;
}

/* Hover Effect */
.nav-item:hover {
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}

.nav-item i:hover {
    color: rgb(0, 0, 0);
}

.hidden
{
    background-color: rgb(216, 255, 212);
    border-color: rgb(216, 255, 212);
}

.agri-contaier {
    width: 450px ;
    position: relative;
    top:10px;
    height: auto;
    left: 350px;
    align-items: center;

    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(36, 250, 3);
    background: rgba(255, 255, 255, 0.53);
}

.container1 {
    width: 450px ;
    position: relative;
    height: auto;
    left: 350px;
    align-items: center;
    top : 50px;
        box-shadow: 0px 0px 10px rgb(36, 250, 3);
    background: rgba(255, 255, 255, 0.53);
    padding: 20px;
    border-radius: 10px;
}

.agri-contaier h1 {
    color: #000000;
    font-size: 40px;
    position: relative;
    left: 100px;
}


.agri-contaier h2 {
    color: #000000;
    position: relative;
    left: 100px;
}
.agri-container form {
    margin: 20px 0;
}

.cont {
    position: absolute;
    width: 250px;
    margin-left: 30px;
    margin-top: 0px;
        box-shadow: 0px 0px 10px rgb(36, 250, 3);
    background: rgba(255, 255, 255, 0.53);
    padding: 10px;
    border-radius: 10px;
     
    margin-bottom: 10px;
}

.cont h2 {
    margin-bottom: 10px;
}

.cont1 {
    position: absolute;
    width: 250px;
    margin-left: 30px;
    margin-top: 250px;
        box-shadow: 0px 0px 10px rgb(36, 250, 3);
    background: rgba(255, 255, 255, 0.53);
    padding: 10px;
    border-radius: 10px;
     
    margin-bottom: 10px;
}
.cont1 h2 {
    margin-bottom: 10px;
}
 .cont4{
    position: absolute;
    display: inline-block;
 }

#originalImage {
    width: 500px;
    height: auto;
    display: block;
}

input[type="file"], input[type="text"], button {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #25ff25;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00FF00;
    transform: scale(1.05);
}
.shop-link {
    display: inline-block;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.shop-link:hover {
    background-color: #218838;
}
.prediction h2{
    color: #000000;
    position: relative;
    left: 50px;
}